/*
.titleDiv{
	width: 100%;
	background-color: #E4E4E4;
	border: 1px solid;
}

.titleDiv > h2{
	padding-left: 1%;
}
.titleDiv > p{
	padding-right: 1%;
}
*/
.chart {
	height: 50vh;	
	
}


.tablediv {
	margin-top: 5vh;
	width: 100%;
}



table.dataTable thead th {
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  border-right: 1px solid #000000;
}


table.dataTable thead {background-color: #E4E4E4}